.todo {
  padding: 30px;
  border-bottom: 1px solid #d4d4d4;
  border-top-width: 0;
  font-size: 22px;
  display: flex;
  align-items: center;
}
.completed {
  font-style: italic;
  color: #ADADAD;
  text-decoration: line-through;
}
.text {
  margin-left: 16px;
  flex-grow: 1;
}
.icons {
  display: flex;
}