.header {
    background-color: #F1F1F1;
    padding: 30px;
    display: flex;
    align-items: center;
}
.title{
    padding: 10px 23px;
    border: 1px solid #A4A4A4;
    display: inline;
    border-radius: 20px;
    margin-left: 16px;
    color: #4B4B4B;
    line-height: 100%;
   

}