.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.todos {
  margin: 30px;
  max-width: 1200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.todo_list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 0;
  overflow: scroll;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
}
.input_container {
  padding: 30px;
  background-color: white;
  display: flex;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
}
.input_container input {
  flex-grow: 1;
  font-size: 22px;
  color: #c1c1c1;
  border: none;
  outline: none;
}
.add {
  padding: 10px 23px;
  background-color: #ff503f;
  display: inline;
  border-radius: 20px;
  margin-left: 16px;
  color: white;
  line-height: 100%;
  cursor: pointer;
}
.add img {
  margin-left: 8px;
}
.select_all {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #d4d4d4;
    padding: 10px 30px;
    color: #FF503F;
    font-size: 18px;
}
