.container{
    cursor: pointer;
    display: flex;
    border-radius: 50%;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    margin-left: 8px;
}
.icon {
    cursor: pointer;
    fill: #ADADAD;
}
.outline {
    fill: white;
}
.container:hover{
    border-width: 0;
}
.container:hover  .outline{
    fill:#FF503F;
}
.container:hover  .icon{
    fill:white;
}