.sidebar {
  background-color: #343a3d;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}
.avatar {
    padding: 30px 20px;
}
.pages_list {
  flex-grow: 1;
}
.link_item {
  box-sizing: border-box;
  padding: 17.5px;
  margin-top: 10px;
  border: 3px solid transparent;
  
}
.active {
    border-left-color: #ff503f;
}

.passive {
    color: #787878;
}
.title {
    margin-top: 10px;
}

.badge {
    position: relative;
    display: inline;
}
.badge::before {
  content: "9";
  color: white;
  background-color: #ADADAD;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -100%;
  right: -40%;
  z-index: 9;
  position: absolute;
}
