.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 100%;
    max-width: 700px;
    background-color: white;
    border-radius: 5px;
    padding: 16px;
}
.add{
    padding: 10px 30px;
    background-color: #ff503f;
    border-radius: 20px;
    color: white;
    line-height: 100%;
    cursor: pointer;
    text-align: center;
    max-width: 200px;
    margin: 20px auto;
}