.tabs {
  display: flex;
  box-sizing: border-box;
  background-color: #f1f1f1;
}
.tab {
  padding: 20px;
  border: 1px solid #d3d7da;
  border-left-width: 0;
  background-color: #f8f8f8;
  cursor: pointer;
  font-size: 24px;
  color: #4b4b4b;
  width: 295px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fill {
  flex-grow: 1;
  border-top: 1px solid #d3d7da;
  border-bottom: 1px solid #d3d7da;
}
.active {
  border-bottom-width: 0;
  background-color: white;
  cursor: auto;
}
.title {
    margin: 15px 10px;
    display: inline;
}
.badge {
    margin-left: 8px;
    font-size: 16px;
    color: white;
    background-color: #FF503F;
    padding: 4px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}
